html,
body {
  height: 90px;
  margin: 0;
  padding: 0;
  width: 728px;
}

#container {
  height: 90px;
  width: 728px;
  overflow: hidden;
  position: relative;
}

img {
  position: absolute;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes appearRise {
  from {
    opacity: 0;
    transform: translateY(30%);
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#bg {
  animation: appear 1s ease 0s 1 normal forwards;
  z-index: 1;
}

#pacific {
  animation: appearRise 1s ease 1s 1 normal forwards;
  left: 1%;
  opacity: 0;
  top: 7%;
  z-index: 2;
}

#authentic {
  animation: appearRise 1s ease 2s 1 normal forwards;
  left: 1%;
  opacity: 0;
  top: 34%;
  z-index: 2;
}

#experiences {
  animation: appearRise 2s ease 3s 1 normal forwards;
  height: 29px;
  left: .5%;
  opacity: 0;
  position: absolute;
  top: 62%;
  z-index: 2;
}

#fade {
  animation: fade 1s ease 5s 1 normal forwards;
  height: 90px;
  left: .5%;
  position: absolute;
  z-index: 2;
}

#richmond {
  animation: appear 1s ease 6s 1 normal forwards;
  height: 29px;
  left: .5%;
  opacity: 0;
  position: absolute;
  top: 62%;
  z-index: 2;
}

#discover {
  animation: appear 1.5s ease 7s 1 normal forwards;
  opacity: 0;
  left: calc(50% - 80px);
  top: 25%;
  z-index: 2;
}