html,
body {
  height: 90px;
  margin: 0;
  padding: 0;
  width: 728px;
}

#container {
  height: 90px;
  width: 728px;
  overflow: hidden;
  position: relative;
}

img {
  position: absolute;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes appearRise {
  from {
    opacity: 0;
    transform: translateY(30%);
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@font-face {
  font-family: Neutra;
  src: url('../assets/fonts/NeutraText-Book.otf');
}

#bg {
  animation: appear 1s ease 0s 1 normal forwards;
  z-index: 1;
}


#pacific {
  animation: appearRise 1s ease 1s 1 normal forwards;
  left: 1%;
  opacity: 0;
  top: 7%;
  z-index: 2;
}

#authentic {
  animation: appearRise 1s ease 2s 1 normal forwards;
  left: 1%;
  opacity: 0;
  top: 34%;
  z-index: 2;
}

#experiences {
  animation: appearRise 2s ease 3s 1 normal forwards;
  opacity: 0;
  font-family: Neutra;
  left: .5%;
  margin: 0;
  position: absolute;
  padding: 0;
  top: 64%;
  z-index: 2;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: -2px;
  color: #F5B73C;
  font-size: 1.75em;
}

#fade {
  animation: fade 1s ease 5s 1 normal forwards;
  height: 90px;
  left: .5%;
  position: absolute;
  z-index: 2;
}

#richmond {
  animation: appear 1s ease 6s 1 normal forwards;
  opacity: 0;
  font-family: Neutra;
  left: .5%;
  margin: 0;
  position: absolute;
  padding: 0;
  top: 62%;
  z-index: 2;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: -2px;
  color: #F5B73C;
  font-size: 1.75em;
}

#bc {
  color: #FEF09A
}

#discover {
  animation: appear 1.5s ease 7s 1 normal forwards;
  opacity: 0;
  left: calc(50% - 80px);
  top: 25%;
  z-index: 2;
}