html,
body {
  height: 250px;
  margin: 0;
  padding: 0;
  width: 300px;
}

#container {
  height: 250px;
  width: 300px;
  overflow: hidden;
  position: relative;
}

img {
  position: absolute;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes appearRise {
  from {
    opacity: 0;
    transform: translateY(30%);
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* @font-face {
  font-family: Neutra;
  src: url('../assets/fonts/NeutraText-Book.otf');
} */

#bg {
  animation: appear 1s ease 0s 1 normal forwards;
  z-index: 1;
}

#pacific {
  animation: appearRise 1s ease 1s 1 normal forwards;
  left: 5%;
  opacity: 0;
  top: 20%;
  z-index: 2;
}

#authentic {
  animation: appearRise 1s ease 2s 1 normal forwards;
  left: 5%;
  opacity: 0;
  top: 30%;
  z-index: 2;
}

#experiences {
  animation: appearRise 2s ease 3s 1 normal forwards;
  opacity: 0;
  width: 200px;
  z-index: 2;
}

#fade {
  animation: fade 1s ease 5s 1 normal forwards;
  left: 4.5%;
  position: absolute;
  top: 41%;
  z-index: 2;
}

#richmond {
  animation: appear 1s ease 6s 1 normal forwards;
  opacity: 0;
  left: 4.5%;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 41%;
  width: 200px;
  z-index: 2;
}

#discover {
  animation: appear 1.5s ease 7s 1 normal forwards;
  left: 5%;
  opacity: 0;
  top: 65%;
  z-index: 2;
}