html,
body {
  height: 250px;
  margin: 0;
  padding: 0;
  width: 300px;
}

#container {
  height: 250px;
  width: 300px;
  overflow: hidden;
  position: relative;
}

img {
  position: absolute;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes appearRise {
  from {
    opacity: 0;
    transform: translateY(30%);
  }
  to {
    opacity: 1;
  }
}

@font-face {
  font-family: Neutra;
  src: url('../assets/fonts/NeutraText-Book.otf');
}

#bg {
  animation: appear 1s ease 0s 1 normal forwards;
  z-index: 1;
}

#pacific {
  animation: appearRise 1s ease 1s 1 normal forwards;
  left: 5%;
  opacity: 0;
  top: 20%;
  z-index: 2;
}

#authentic {
  animation: appearRise 1s ease 2s 1 normal forwards;
  left: 5%;
  opacity: 0;
  top: 30%;
  z-index: 2;
}

#experiences {
  animation: appearRise 1s ease 3s 1 normal forwards;
  opacity: 0;
  font-family: Neutra;
  left: 4.5%;
  margin: 0;
  position: absolute;
  padding: 0;
  top: 48%;
  z-index: 2;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: -2px;
  color: #F5B73C;
  font-size: 1.75em;
}

#richmond {
  animation: appearRise 1s ease 3s 1 normal forwards;
  opacity: 0;
  font-family: Neutra;
  left: 4.5%;
  margin: 0;
  position: absolute;
  padding: 0;
  top: 52%;
  z-index: 2;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: -2px;
  color: #F5B73C;
  font-size: 1.75em;
}

#bc {
  color: #FEF09A
}

#richmond {
  animation: appearRise 1s ease 4s 1 normal forwards;
  left: 5%;
  opacity: 0;
  top: 60%;
  z-index: 2;
}

#discover {
  animation: appear 1.5s ease 5s 1 normal forwards;
  bottom: 9%;
  left: 5%;
  opacity: 0;
  z-index: 2;
}